@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.allbuttons {
  text-transform: uppercase;
}

.navbar {
  background: rgba(35, 56, 63, 0.65);
}

.navbar__displayname {
  color: #23383f;
  font-weight: 600;
}

.row {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}

.calendar {
  display: block;
  position: relative;
  width: 90%;
  background: white;
  border: 1px solid #dfdce5ff;
  height: auto;
  margin: 0 auto 2rem auto;
  padding: 0 0 0 1.875rem;
}

.calendar__body {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}

.calendar__header {
  color: #dbb04aff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid lightgray;
}

.calendar__icon {
  color: #97b3d0ff;
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  cursor: pointer;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.calendar__icon:hover {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  color: #dbb04aff;
}

.calendar__icon:first-of-type {
  margin-left: 1em;
}

.calendar__icon:last-of-type {
  margin-right: 1em;
}

.calendar__days {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: gray;
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid lightgray;
}

.calendar__cell {
  position: relative;
  height: 6em;
  border-right: 1px solid lightgray;
  overflow: hidden;
  cursor: pointer;
  background: white;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.calendar__cell:hover {
  background: whitesmoke;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.calendar__cell:hover .calendar__number {
  visibility: hidden;
}

.calendar__cell:hover .calendar__bg {
  opacity: 0.2;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.calendar__cell:last-child {
  border-right: none;
}

.calendar__number {
  color: #97b3d0ff;
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar__number:hover {
  visibility: hidden;
}

.calendar__selected {
  border: 3px solid transparent;
  -o-border-image: linear-gradient(80deg, #abd1c9ff 10%, #dfdce5ff 40%);
     border-image: linear-gradient(80deg, #abd1c9ff 10%, #dfdce5ff 40%);
  border-image-slice: 1;
}

.calendar__selected .calendar__bg {
  opacity: 0.4;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.calendar__selected .calendar__number {
  visibility: hidden;
}

.calendar__disabled {
  color: lightgray;
  pointer-events: none;
}

.calendar__bg {
  font-weight: 700;
  line-height: 1;
  color: #dbb04aff;
  opacity: 0;
  font-size: 5em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar__column {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: calc(100% / 7);
      flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.calendar__row {
  border-bottom: 1px solid lightgray;
}

.calendar__row:last-child {
  border-bottom: none;
}

.clientlist__form--input {
  color: #23383f;
}

.clientlist__form-header {
  color: #23383f;
}

.clientlist__table {
  border: 1px solid #dfdce5ff;
  border-collapse: collapse;
}

.clientlist__item {
  width: 100%;
}

.clientlist__names {
  color: #23383f;
}

.recordworkout__table-head {
  color: #23383f;
}

.recordworkout__table-body {
  color: #23383f;
  font-size: 1em;
}

.clientworkout__table-head {
  color: #23383f;
}

.clientworkout__table-body {
  color: #23383f;
  font-size: 1em;
}
/*# sourceMappingURL=App.css.map */